body {
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
  min-height: 80vh;
  padding: 2em;
  background-color: #fafbfc;
  background: no-repeat linear-gradient(175deg, #012 0%, #022d36 100%);
  background-size: auto 400px
}

#main_pane {
  max-width: 700px;
  padding: 1em 4em;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 8px #0001;
}

h1 {
  font-weight: normal;
  color: #224;
}

h2 {
  color: #778;
  font-size: 12px;
  font-weight: 600;
}

input, textarea, #clip, #open {
  background-color: #fafbfc;
  border: solid 2px #f4f5f7;
  border-radius: 3px;
  font-size: 14px;
  padding: 0.5em;
  width: 100%;
}

#result_grid {
  display: grid;
  grid-template-areas:
    'generate actions'
    'result   result'
}

#generate, #clip, #open {
  width: fit-content;
  height: fit-content;
  margin: 1em 0;
  cursor: pointer;
}

#generate {
  border-radius: 3px;
  background-color: #022d36;
  color: #fff;
  font-size: 14px;
  padding: 0.5em;
  grid-area: generate;
}

.btn:active {
  background-color: #f4f5f7;
}

#generate:active {
  background-color: #366;
}

#actions {
  grid-area: actions;
}

#actions > * {
  float: right;
  margin-left: 1em;
}

#result {
  grid-area: result;
}

.btn {
  user-select: none;
}

main, footer, h2, #result_grid {
  margin-top: 2em;
}

footer {
  text-align: center;
}

footer {
  color: #333;
  text-decoration: none;
}

footer a {
  color: #366;
  text-decoration: none;
}
